.dashboard {
  width: 100%;
  min-height: 100vh;
}

.dashboard .sidebar {
  width: 250px;
  padding: 20px;

}

.dashboard .sidebar button {

  color: var(--white);
  border-bottom: 1px solid var(--gray_opacity) !important;
  padding-top: 20px;
  padding-bottom: 20px;

}

.dashboard .mainbar {
  width: calc(100% - 250px);
  padding: 20px;
}